<ul class="webinar-cards">
    {% for webinar in webinars %}
    <li class="card">
        <div class="wrapper-card">
            <img class="banner"
                src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?width=450&height=338&fit=cover"
                alt="{{ webinar.title }}" width="350" height="300">
            <p class="duration">{{ webinar.duration }}</p>
            {% assign webinarIdString = webinar.id | string | strip %}
            <form class="bookmark-webinar-form" method="POST" action="/webinars" data-enhanced="form-{{ webinar.id}}">
                <input type="hidden" name="textField" value="{{ webinar.id }}">
                <input type="hidden" name="forField" value="Bookmark webinar">
                <button type="submit">
                    {% if bookmarkIds contains webinarIdString %}
                    <span>Bookmarked</span>
                    {% render "public/assets-webinars/icon-bookmarked.liquid" %}
                    {% else %}
                    <span>Bookmark webinar</span>
                    {% render "public/assets-webinars/icon-bookmark.liquid" %}
                    {% endif %}
                </button>
            </form>
        </div>

        <section class="card-info">
            <ul class="categories">
                {% for categorie in webinar.categories %}
                <li class="category">
                    <p class="category-label">{{ categorie.avl_categories_id.name }}</p>
                </li>
                {% endfor %}
            </ul>
            <h3>{{ webinar.title | truncatewords: 8 }}</h3>
            <p class="speaker">
                {% for speaker in webinar.speakers %}
                {{ speaker.avl_speakers_id.fullname }}
                {% endfor %}
            </p>
            <a href="/webinars/{{ webinar.slug }}">View webinar{% render "public/assets-webinars/icon-arrow-right.liquid" %}</a>
        </section>
    </li>
    {% endfor %}
</ul>