{% render "partials/head.liquid" %}

{% comment %} Dit zorgt ervoor dat de key's uit de API worden opgesplitst ipv onder elkaar getoond. Hierdoor kan de team
section ertussen worden weergeven. {% endcomment %}
{%- assign top_item = aboutUsContent | where: "key", "about-us-top" | first -%}
{%- assign bottom_item = aboutUsContent | where: "key", "about-us-bottom" | first -%}

{% comment %} About us top content uit API {% endcomment %}
<section>
    <h1 class="about-us-main-title">{{ top_item.heading }}</h1>
    <div class="about-us-intro-section">
        <p class="about-us-intro-p">{{ top_item.text }}</p>
        <picture>
            <source srcset="assets-home/avl-team.avif" type="image/avif">
            <img src="assets-home/avl-team.jpeg" alt="stock image" class="about-us-intro-picture" loading="eager"
                width="400px" height="300px">
        </picture>
    </div>
</section>

{% comment %} Team content uit API {% endcomment %}

<section class="about-us-team-section">
    <h2 class="about-us-team-title">Meet our doctors</h2>
    <div class="about-us-team-card-grid">
        {% for team in teams %}
        <div class="about-us-team-card">
            <h2 class="about-us-team-card-title">{{ team.name }}</h2>
            <p class="about-us-team-role">{{ team.role }}</p>
            <img src="https://fdnd-agency.directus.app/assets/{{ team.photo }}" alt="{{ team.name }}"
                class="about-us-team-photo" loading="lazy" width="200px" height="200px">
            <a href="#">View doctor →</a>
        </div>
        {% endfor %}
    </div>
</section>


{% comment %} About us bottom content uit API {% endcomment %}
<section>
    <h2 class="about-us-partner-title">{{ bottom_item.heading }}</h2>
    <div class="about-us-partner-section">
        <p class="about-us-partner-p">{{ bottom_item.text }}</p>
        <div class="logo-marquee">
            <div class="logo-track">
                {% for logo in partnerLogos %}
                <img src="https://fdnd-agency.directus.app/assets/{{ logo.logo }}" alt="Partner logo" loading="lazy" width="150px" height="100px">
                {% endfor %}

                {% for logo in partnerLogos %}
                <img src="https://fdnd-agency.directus.app/assets/{{ logo.logo }}" alt="Partner logo" loading="lazy" width="150px" height="100px">
                {% endfor %}
            </div>
        </div>

</section>

{% render "partials/foot.liquid" %}