{% render "partials/head.liquid" %}

{% comment %} Dit zorgt ervoor dat de key's uit de API worden opgesplitst ipv onder elkaar getoond. Hierdoor kan de team
section ertussen worden weergeven. {% endcomment %}
{%- assign top_item = aboutUsContent | where: "key", "about-us-top" | first -%}
{%- assign bottom_item = aboutUsContent | where: "key", "about-us-bottom" | first -%}

{% comment %} About us top content uit API {% endcomment %}
<section id="content">
    <h1>{{ top_item.heading }}</h1>
    <div class="about-us-intro-section">
        <p>{{ top_item.text }}</p>
        <picture class="about-us-intro-picture">
            <source srcset="assets-home/avl-team.avif" type="image/avif">
            <img src="assets-home/avl-team.jpeg" alt="5 doctors talking to each other" loading="eager" width="400px">
        </picture>
    </div>
</section>

{% comment %} Team content uit API {% endcomment %}

<section class="about-us-team-section">
    <h2>Meet our doctors</h2>
    <div class="about-us-team-card-grid">
        {% for team in teams %}
        <div class="about-us-team-card">
            <h2>{{ team.name }}</h2>
            <p>{{ team.role }}</p>
            <img src="https://fdnd-agency.directus.app/assets/{{ team.photo }}" alt="{{ team.name }}"
                class="team-photo">
        </div>
        {% endfor %}
    </div>
</section>


{% comment %} About us bottom content uit API {% endcomment %}
<section class="about-us-partner-section">
    <div>
        <h2>{{ bottom_item.heading }}</h2>
        <p>{{ bottom_item.text }}</p>
    </div>
    <div class="partner-logos">
        {% for logo in partnerLogos %}
        <img src="https://fdnd-agency.directus.app/assets/{{ logo.logo }}" alt="Partner logo">
        {% endfor %}
    </div>
</section>

{% render "partials/foot.liquid" %}