{% render "partials/head.liquid" %}

<section class="wrapper">
    <div class="contouring-grid">
        {% for contouring in contourings %}
            <article class="contouring-card">
                {% if contouring.image_scan %}
                    <picture>
                     <source srcset="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}?format=webp"
                     type="image/webp"> 
                     <img src="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}" alt="{{ contouring.title }}" loading="lazy">
                    </picture>
                {% endif %}

                <div class="contouring-content">
                    <h2 class="contouring-title">{{ contouring.title }}</h2>

                    <p>{{ contouring.user_id }}</p>
                    <p>{{ contouring.categories }}</p>
                  
                </div>
            </article>
        {% endfor %}
    </div>
</section>
