{% render "partials/head.liquid" %}

    {% comment %} {% include "partials/header.liquid" %} {% endcomment %}

    {% for speaker in speakers %}
        <main class="speaker-main components-alignment-vertical">
            <section class="speaker-introduction components-alignment-vertical">
                <ul class="breadcrumbs-speakers-detail components-alignment-horizontal">
                    <li><a href="/">Home &rsaquo;</a></li>
                    <li><a href="/speakers">Speakers &rsaquo;</a></li>
                    <li><a href="/speakers/{{ speaker.slug }}">{{ speaker.slug }}</a></li>
                </ul>
                <div class="speaker-introduction-titles components-alignment-vertical">
                    <span class="speaker-meet-highlight">Meet</span>
                    <h1 class="speaker-name">{{ speaker.fullname }}</h1>
                    <p class="speaker-entitle">{{ speaker.entitle }}</p>
                </div>

                <div class="speaker-picture-bookmark components-alignment-vertical">
                    <div class="speaker-picture">
                        <!-- picture element voor responsive images -->
                        <!-- in srcset worden afbeeldingen ingeladen van verschillende formats en breedtes -->
                        <!-- in sizes wordt breedte gekozen en afbeelding geselecteerd -->
                        <picture>
                            <source
                                srcset="
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=avif&width=100&height=100 100w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=avif&width=200&height=200 200w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=avif&width=300&height=300 300w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=avif&width=400&height=400 400w   
                                "
                                sizes="
                                    (max-width: 100px) 100px,
                                    (max-width: 200px) 200px,
                                    (max-width: 300px) 300px,
                                    (max-width: 400px) 400px
                                "
                            />
                            <source
                                srcset="
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=webp&width=100&height=100 100w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=webp&width=200&height=200 200w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=webp&width=300&height=300 300w,   
                                    https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=webp&width=400&height=400 400w   
                                "
                                sizes="
                                    (max-width: 100px) 100px,
                                    (max-width: 200px) 200px,
                                    (max-width: 300px) 300px,
                                    (max-width: 400px) 400px
                                "
                            />     
                            <!-- fallback image met goed ondersteund format (jpg) -->           
                            <img src="https://fdnd-agency.directus.app/assets/{{ speaker.profile_picture }}?format=jpg" alt="" width="200" height="200" loading="lazy" style="object-fit:cover;">
                        </picture>
                    </div>

                    <!-- Bookmark formulier -->
                    <form method="post" action="/speakers/{{ speaker.slug }}" class="speaker-bookmark" data-enhanced="form-{{ speaker.id }}">
                        <input type="hidden" name="textField" value="{{ speaker.id }}">
                        <input type="hidden" name="forField" value="Bookmark for Julia">
                        <input type="hidden" name="_method" value="{% if isBookmarked %}DELETE{% else %}POST{% endif %}">

                        {% if isBookmarked %}
                            <button type="submit" class="button-green button-bookmarked button-speaker-bookmark components-alignment-horizontal">
                                <span>Bookmarked</span>
                                {% render "public/assets-speakers/bookmark-icon.liquid" %}
                            </button>
                        {% else %}
                            <button type="submit" class="button-green button-speaker-bookmark components-alignment-horizontal">
                                <span>Bookmark speaker</span>
                                {% render "public/assets-speakers/bookmark-icon.liquid" %}
                            </button>
                        {% endif %}
                    </form>
                </div>
            </section>



            <section class="speaker-about">
                <div class="speaker-section-title">
                    <h2>About</h2>
                </div>
                <div class="speaker-about-content">
                    <p>{{ speaker.about }}</p>
                </div>
            </section>

            <section class="speaker-featured-webinars">
                <div class="speaker-section-title">
                    <h2>Webinars from this speaker</h2>
                </div>   
                <div class="speaker-featured-webinars-overview">
                    {% for webinar in speaker.webinars %}
                        <a>{{ webinar.avl_webinars_id.title }}</a>
                    {% endfor %} 
                </div>             
            </section>
        </main>
    {% endfor %}

    {% comment %} {% include "partials/footer.liquid" %} {% endcomment %}

{% render "partials/foot.liquid" %}