{% render "partials/head.liquid" %}

<section class="web-detail-main">
{% for webinar in webinars %}

    <section class="webinar-detail-hero">
        <ul class="webinar-detail-breadcrumb">
            <li><a href="/">Home &rsaquo;</a></li>
            <li><a href="/webinars">Webinars &rsaquo;</a></li>
            <li><a href="/webinar-detail"> {{ webinar.title }} </a></li>
        </ul>

        <h1>{{ webinar.title }}</h1>
    </section>

    {% if webinar.video %}
        <video class="webinar-detail-video" controls width="250">
            <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" width="380px"/>
        </video>
    {% endif %}

    <div class="web-detail-watch-info">
        <p class="web-detail-vieuws"> <img src="/assets-webinar-detail/eye.svg" alt="vieuws"> {{ webinar.views }} </p>
        <p class="web-detail-date"> <img src="/assets-webinar-detail/calendar-alt.svg" alt="date">{{ webinar.date }} </p>

        {% for category in webinar.categories %}
            <p class="web-detail-category">{{ category.avl_categories_id.name }}</p>
        {% endfor %}
    </div>

    <section class="web-detail-description">
        <h2>Description</h2>
            <details class="web-detail-description-position">
                <summary>Read description</summary>
                <div>
                    <p> {{ webinar.description }} </p>
                </div>
            </details>
    </section>

    <section class="webinar-detail-q-en-a">
    <h2>Q & A</h2>
        <h3>Comments</h3>
        <section class="webinar-detail-comments">
            {% for comment in comments %} 
                    <p class="comment"> {{  comment.content }}</p>
            {% endfor %}  
        </section>

        <h3>Ask a question</h3>
        <section class="web-detail-q-en-a">
                <form action="/webinars/{{ webinar.slug }}/{{ webinar.id }}" method="post" data-enhanced="form-{{ webinar.id }}">
                    <input class="input-comment" type="text" name="comment" placeholder="Ask your question here..." />
                    <button type="submit" class="button-green">Send</button>
                </form>
        </section>
    </section>

    <section class="web-detail-geheel-speaker">
        <h2>The speaker</h2>
            {% for speaker in speakers %}
                {% include "partials/speaker-card.liquid" %}
            {% endfor %}
    </section>

{% endfor %}
</section>
{% render "partials/foot.liquid" %}